* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bottom-right-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #f00; 
  color: #fff; 
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

#clock-container {
    text-align: center; 
    position: fixed;
    bottom: 54vh; /* استخدم وحدة vh لتحديد ارتفاع ثابت بنسبة إلى ارتفاع النافذة */
    left: 50%;
    transform: translateX(-50%); 
    background-color: transparent; 
}




.bottom-right-button:hover {
  background-color: #ff5555; 
}


.bottom-right-button:active {
  background-color: #cc0000; 
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: #121212;
  cursor: none;
}

.music-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 9999;
}

.eye {
  position: fixed;
  top: 35px;
  left: 8px;
  width: 35px;
  display: flex;
  justify-content: space-around;
  background-color: #121212;
  z-index: 13;
  height: 25px;
  padding-top: 2px;
}
.x {
  position: fixed;
  top: 9px;
  left: 9px;
  width: 108px;
  height: 27px;
  background-color: #121212;
  z-index: 12;
}
.xr {
  position: fixed;
  height: 100px;
  width: 100px;
  left: 63px;
  top: 8px;
  background-color: #121212;
  z-index: 12;
}
.xb {
  position: fixed;
  height: 100px;
  width: 100px;
  left: 32px;
  top: 50px;
  background-color: #121212;
  z-index: 13;
}

.music-button.active #playIcon:before {
  content: "\f04c";
}

.fas.fa-play:before {
  content: "\f144";
}

.cursor {
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  z-index: 100;
}
.cursor--large {
  --size: 40px;
  border: 1px solid #ff3c3c;
}
.cursor--small {
  --size: 10px;
  background: #ff3c3c;
  transform: translate(-50%, -50%);
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
main button {
  --size: 60px;
  border: none;
  min-width: var(--size);
  min-height: var(--size);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background: rgba(255, 255, 255, 0.08);
  color: #fff;
  transition: background 200ms ease, color 200ms ease;
  cursor: none;
}
main:hover button {
  background: rgba(255, 255, 255, 0.04);
  color: rgba(255, 255, 255, 0.04);
}
main:hover button:hover {
  color: #fff;
}

.support {
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 10px;
  display: flex;
}
.support a {
  margin: 0 10px;
  color: #fff;
  font-size: 1.8rem;
  backface-visibility: hidden;
  transition: all 150ms ease;
}
.support a:hover {
  transform: scale(1.1);
}

a {
  position: absolute;
  top: 10px; 
  left: 10px;
  text-decoration: none;
}
