* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

    .bottom-right-button {
        position: fixed;
        bottom: 20px;
        right: 20px;
        padding: 10px 20px;
        background-color: #f00; /* لون الخلفية */
        color: #fff; /* لون النص */
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
    }

    /* إذا أردت تغيير الأنماط عند تحويل المؤشر فوق الزر، يمكنك إضافة الأنماط التالية */
    .bottom-right-button:hover {
        background-color: #ff5555; /* لون الخلفية عند تحويل المؤشر فوقه */
    }

    /* يمكنك أيضًا تغيير الأنماط عند الضغط على الزر */
    .bottom-right-button:active {
        background-color: #cc0000; /* لون الخلفية عند الضغط عليه */
    }

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: #121212;
  cursor: none;
}

.music-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  position: fixed;
  bottom: 20px; 
  left: 20px; 
  z-index: 9999; 
}






.music-button.active #playIcon:before {
  content: "\f04c";
}

.fas.fa-play:before {
  content: "\f144";
}


.cursor {
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  z-index: 100;
}
.cursor--large {
  --size: 40px;
  border: 1px solid #ff3c3c;
}
.cursor--small {
  --size: 10px;
  background: #ff3c3c;
  transform: translate(-50%, -50%);
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
main button {
  --size: 60px;
  border: none;
  min-width: var(--size);
  min-height: var(--size);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background: rgba(255, 255, 255, 0.08);
  color: #fff;
  transition: background 200ms ease, color 200ms ease;
  cursor: none;
}
main:hover button {
  background: rgba(255, 255, 255, 0.04);
  color: rgba(255, 255, 255, 0.04);
}
main:hover button:hover {
  color: #fff;
}

.support {
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 10px;
  display: flex;
}
.support a {
  margin: 0 10px;
  color: #fff;
  font-size: 1.8rem;
  backface-visibility: hidden;
  transition: all 150ms ease;
}
.support a:hover {
  transform: scale(1.1);
}

        a {
            position: absolute;
            top: 10px; /* قم بتعديل هذه القيمة حسب الارتفاع المطلوب من الأعلى */
            left: 10px; /* قم بتعديل هذه القيمة حسب المسافة المطلوبة من اليسار */
            text-decoration: none;
        }